@import "variables.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background-color: rgb(var(--black));
    font-family: 'Barlow Condensed', sans-serif;
}

a {
    font-weight: bold;
    color: rgb(var(--black));
    text-decoration: none;
    font-size: 16px;
}
.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}